/* Стили для центрирования карточки товара */
.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Задает высоту во всю высоту окна просмотра */
}

.product-card {

    display: flex;
   /*  border: 1px solid #e0e0e0;
    border-radius: 5px; */
    overflow: hidden;
    background-color: #fff;
   /*  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */ /* Эффект тени для карточки */
    margin-top: 100px;
}

.product-image img {
    width: 450px; /* Ширина изображения */
    height: auto;
    object-fit: cover;
}

.product-info {
    padding: 20px;
    margin-left: 80px;
    padding-right: 100px;
}

/* Дополнительные стили для описания товара, которые нужно настроить под ваш дизайн */
.product-name {
    margin-top: 0;
    font-size: 1.5em;
}

.product-price {
    font-weight: 300;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.available-sizes {
    margin-bottom: 20px;
}

.button-add-to-cart {
    margin-top: 20px;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
    border-radius: 25px; /* Задаем радиус закругления углов */
    background-color: black; /* Цвет фона кнопки */
    color: white; /* Цвет текста */
    padding: 10px 20px; /* Отступы внутри кнопки */
  }

.size-box {
    display: inline-block;
    width: 35px;
    height: 35px;
    margin-right: 6px;
    background-color: #f4f4f4;
    border: 1px solid #000000; /* or #ccc */
    border-radius: 3px;

    text-align: center;

    line-height: 33px;
    cursor: pointer;
    display: inline-block;
 
}

.selected {
    background-color: lightgray;
}

.button-add-to-cart {
    width: 300px; 
    height: 40px; 
}

.button-class {
    display: flex;
    align-items: center; /* Выравниваем по вертикали */
    justify-content: center; /* Выравниваем по горизонтали */
}

.button-add-to-cart {
    line-height: 1; /* Устанавливаем высоту строки, равную высоте кнопки */
}

.footer {
    background: url(../img/footer-bg.png);
    background-size: cover;
    padding: 100px 0px;
    color:white;
    display: flex;
    font-size:small;
}

.help-menu, .contacts-menu {
    list-style: none;
    padding: 0;
}

.help-link, .contacts-link {
    text-decoration: none;
    color:white;
}

.help-title, .contacts-title {
    padding-bottom: 15px;
    text-transform: uppercase;
}

.help {
    display: inline-block;
    margin-left: 40%;
}

.contacts {
    display: inline-block;
    margin-left: 10%;
}
  