.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999; 
}

.list-of-products{
    margin:200px;
    margin-top: 30px;
    margin-bottom:50px;
}

ul {
    list-style: none;
    padding: 0;
}

.product {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding-bottom: 10px;
    font-size: 110%;;
}

.product img {
    width: 120px;
    height: auto;
    margin-right: 20px;
}

.product-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.product-details {
    display: flex;
    flex-direction: column;
    color: black;
}

.product-detail-item {
    padding: 2px 0; /* Регулируемый отступ между элементами */
    font-size: 90%;
/*     text-transform: uppercase;
 */}

.product-link {
    text-decoration: none;
    color:black;
}
.product-info button:hover {
    background-color: rgba(142, 6, 6, 0.812);
}

.product-info button {
    height: 35px;
    width: 85px;
    background-color: black;
    border-radius: 19px;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 35px; /* Устанавливаем высоту кнопки равной высоте текста */
    font-size: 85%;
}

.title{
    font-size:150%;
    margin-left: 200px;
    margin-top:150px;
    text-transform: uppercase;
    font-weight: 520;
}

/* итого */
.summary {
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
    margin-bottom: 30px;
}

.quantity-and-total-price, .quantity-and-total-price-value {
    display: flex;
    flex-direction: column;
}

.quantity-and-total-price p, .quantity-and-total-price-value p {
    margin-bottom: 5px; /* Отступ между текстом и числами */
}

.quantity-and-total-price span, .quantity-and-total-price-value span {
    margin-left: auto; /* Помещаем числа вправо */
}

/* кнопки для заказа */

.order-button {
    background-color: black;
    color: white;
    text-align: center;
    cursor: pointer;
    border-radius: 19px;
    height: 35px;
    width: 180px;
    margin: 30px auto;
    display: block;
} 

  /* Стили для формы оформления заказа */
.order-form {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    font-size: 93%;
}
  
  input[type="text"],
  select {
    width: calc(100% - 20px);
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 10px;
}
  
  input[type="text"]::placeholder,
  select {
    font-style:normal;
    color: #999;
}
 
#address {
    color: black; /* Цвет текста для выбранных элементов */
}
  

  